body {
  background-color: #d6baff; /*lavender*/
  color: #f7f7f7;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Shrikhand', cursive;
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-shadow: 5px 5px brown;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
}

div {
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  margin-top: 25px;
  color: white;
}

button:hover {
  background-color: #d1eeff;
}

button:focus {
  outline:0;
}


.instructions {
  font-style: italic;
}

.hint {
  color: gray;
  margin-top: 20px;
}

.letterButton {
  background-color: white;
  border-style: none;
  color: brown;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
}

.startButton {
  background-color: white;
  border-style: none;
  color: brown;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 25px;
  width: 10em;
}

.hintButton {
  background-color: white;
  border-style: none;
  color: brown;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 25px;
  width: 10em;
}

.resetButton {
  background-color: white;
  border-style: none;
  color: brown;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 1px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 25px;
  width: 10em;
}

.spaces {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 75px;
  letter-spacing: 40px;
  margin-top: 75px;
}

#clicked {
  background-color: #f0e5ff;
  color: gray;
}
